---
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/assets/favicon.png" />

		<meta name="robots" content="index, follow">

		<meta name="author" content={i18n.SEO_AUTHOR} />
		<meta name="keywords" content={i18n.SEO_KEYWORDS} />
		<meta name="description" content={i18n.SEO_DESCRIPTION} />

		<meta property="og:title" content={i18n.SEO_TITLE} />
		<meta property="og:description" content={i18n.SEO_DESCRIPTION} />
		<meta property="og:image" content={i18n.SEO_IMAGE} />
		<meta property="og:url" content={i18n.SEO_URL} />
		<meta property="og:site_name" content={i18n.SEO_SITE_NAME} />
		<meta property="og:locale" content={currentLocale} />
		<meta property="og:type" content="website" />

		<link rel="preload" href="/assets/sora-latin-wght-normal.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/assets/me.webp" as="image" type="image/webp" />

		<meta name="generator" content={Astro.generator} />

		<title>{Astro.props.title}</title>
	</head>
	<body class="relative text-white">
		<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(67,89,102,0.7),rgba(255,255,255,0))]"></div>

		<slot />

		<div class="absolute bottom-0 z-[-2] min-h-[140vh] w-full bg-neutral-950 bg-[radial-gradient(ellipse_100%_80%_at_50%_75%,rgba(67,89,102,0.6),rgba(255,255,255,0))]"></div>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Sora Variable';
		src: url('/assets/sora-latin-wght-normal.woff2') format('woff2');
		font-weight: 100 900;
	}

	html {
		font-family: 'Sora Variable', system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		padding: 0;
	}

	strong {
		color: #86BBD8;
	}
</style>
